<%= form_for(@note, :url => notes_path(:type => params[:type]), :remote => true) do |f| %>
  <table width="100%">
    <tr>
      <td>
        <%= f.hidden_field :notable_id, :value => session[:customer_id] %>      
        <%= f.hidden_field :notable_type, :value => params[:type] %>
         <%= f.hidden_field :jobsite_id, :value => session[:jobsite_id] %>
       
      </td>
    </tr>
    <tr>
      <td>
        <%= f.select :note_type, [["Note Type", ""],["Site Notes", "Site Notes"],["Service Request", "Service Request"], ["Service Performed", "Service Performed"], ["Private", "Private"], ["Customer", "Customer"], ["System Notes", "System Notes"]] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_area :description, :cols => 30, :rows => 4 %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit "Add Note" %></td>
    </tr>
  </table>
<% end %>
<style>
  td, th {
    text-align: left;
  }
</style>

<hr />

