<%= render '/layouts/customer_with_action' %>

<% if params[:type] == "Job" || params[:type] == "job" %>
  <%= render '/layouts/tab_panel_for_job' %>
<% else %>
  <%= render  '/layouts/tab_panel_for_customer' %>
<% end %>

<%= render 'form' %>

<div id="notes">
  <%= render :partial => "notes", :locals => {:notes => @notes} %>
</div>