<%= form_for(@jobtime) do |f| %>

   <% if @jobtime.errors.any? %>
     <div id ="error_explanation">
     <h2><%= pluralize(@jobtime.errors.count,"error") %>Prohibited this time from being saved </h2>

     <ul>
       <% @jobtime.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
       <% end %>
     </ul>
    </div>
   <% end %>

      <%= f.hidden_field :job_id, :value => @job_id %>
      <%= f.hidden_field :customer_id, :value => @customer_id %>
      <%= f.hidden_field :jobsite_id, :value => @jobsite_id %>

      <div class = "field">
        <%= f.label :timetype, "Type" %>
        <%= f.text_field :timetype %>
      </div>

      <div class ="field">
        <%= f.label :user %>
        <%= f.text_field :user %>
      </div>

      <div class ="field">
        <%= f.label :service %>
        <%= f.text_field :service %>
      </div>

      <div class ="actions">
        <%= f.submit "Save", :class => "btn-success" %>
      </div>
<% end %>
