<%= gmaps4rails(@json) %><br/><br/>
<div id="clock">
  <span style="margin-right: 10px;">
    <%= select_tag :service, options_for_select(Item.find_all_by_itemtype("Service").map{|item| [item.name, item.id]}), :class => "span2"  %>
  </span>
  <%= button_tag "Start", :onclick => "clockStart()",:id => "start"%>
  <%= button_tag "Stop", :onclick => "clockStop()",:disabled => true,:id => "stop" %>
  <span class="my-clock">
    <span id="hour">0</span> Hrs : 
    <span id="min">0</span> Min :
    <span id="sec">0</span> Sec 
  </span>
</div>
<hr />

<%= render '/layouts/job_with_action' %>
<%= render '/layouts/tab_panel_for_job' %>


<%= link_to "Add time", new_jobtime_path(:time => "Actual"), :class => "btn btn-small btn-primary" %>
<%= link_to "Add schedule", new_jobtime_path, :class => "btn btn-small btn-primary" %>
<hr />
<table class ="table-striped">
  <tr style="text-align: left;">
    <th>Type</th>
    <th>Date</th>
    <th>Qty</th>
    <th>Who</th>
    <th>Service</th>
  </tr>

  <% @jobtimes.each do |jobtime| %>
    <tr>
      <td><%= jobtime.timetype %></td>
      <td><%= jobtime.start_time %></td>
      <td><%= jobtime.qty %></td>
      <td><%= jobtime.user %></td>
      <td><%= jobtime.service != nil ? Item.find(jobtime.service).name : '' %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan ="5">
      <%= will_paginate %>
    </td>
  </tr>

</table>

<script>
  var timerId,start_time,end_time, service;
  var hours = 0;
  var minutes = 0;
  var seconds = 0;

  function update() {
    
    seconds++;

    if(seconds>=60){
      minutes++;
      seconds=0;
    }

    if(minutes>=60){
      hours++;
      minutes=0;
    }

    document.getElementById('hour').innerHTML = hours;
    document.getElementById('min').innerHTML = minutes;
    document.getElementById('sec').innerHTML = seconds;
    
    setTimeout(update, 1000);
  }
    
  function clockStart() {
    var date = new Date()
    start_time = date
    $("#start").attr("disabled", "disabled");
    $("#stop").removeAttr("disabled");
    if (timerId) return
    update()
  }


  function clockStop() {
    var date = new Date()
    clearTimeout(timerId)
    end_time = date
    service = $("#service").val();
    $("#stop").attr("disabled", "disabled");
    $("#start").removeAttr("disabled");
    timerId = null
    $.ajax({
      url: '/jobtimes',
      data:{
        start_time:start_time,
        end_time:end_time,
        service:service,
        hours:hours,
        minutes:minutes,
        seconds:seconds
      },
      method:'POST',
      success:function(data){}
    });
  }
</script>



