<%= render '/layouts/timer' %>

<%= render '/layouts/job_with_action' %>
<%= render '/layouts/tab_panel_for_job' %>


<%= link_to "Add time", new_jobtime_path(:time => "Actual"), :class => "btn btn-small btn-primary" %>
<%= link_to "Add schedule", new_jobtime_path, :class => "btn btn-small btn-primary" %>
<hr />
<table class ="table-striped">
  <tr style="text-align: left;">
    <th>Type</th>
    <th>Date</th>
    <th>Qty</th>
    <th>Who</th>
    <th>Service</th>
    <th><!--Sub Total--></th>
  </tr>

  <% @jobtimes.each do |jobtime| %>
    <tr>
      <td><%= jobtime.timetype %></td>
      <td><%= jobtime.start_time %></td>
      <td><%= jobtime.qty %></td>
      <td><%= jobtime.user %></td>
      <td><%= jobtime.service != nil ? Item.find(jobtime.service).name : '' %></td>
      <td>
        <% @item_price = (jobtime.service != nil ? Item.find(jobtime.service).unit_price.to_f : 0) %>
        <% @hours = jobtime.qty.split(":")[0] %>
        <% @minutes = jobtime.qty.split(":")[1] %>
        <% @seconds = jobtime.qty.split(":")[2] %>
        <%  (@item_price.to_f * @hours.to_f) + (@item_price.to_f * (@minutes.to_f/60)) + (@item_price.to_f * (@seconds.to_f/(60*60))) %>
      </td>
    </tr>
  <% end %>
  
</table>



<script>
  function calculate_subtotal(){
    
  }
</script>



