<%= render '/layouts/timer' %>

<%= render '/layouts/job_with_action' %>
<%= render '/layouts/tab_panel_for_job' %>


<%= link_to "Add time", new_jobtime_path(:time => "Actual"), :class => "btn btn-small btn-primary" %>
<%= link_to "Add schedule", new_jobtime_path, :class => "btn btn-small btn-primary" %>
<hr />
<table class ="table-striped">
  <tr style="text-align: left;">
    <th>Type</th>
    <th>Date</th>
    <th>Qty</th>
    <th>Who</th>
    <th>Service</th>
    <%#*<th> Cost | Price </th>%>
  </tr>

  <% @jobtimes.each do |jobtime| %>
    <tr>
      <td><%= jobtime.timetype %></td>
      <td><%= jobtime.start_time %></td>
      <td><%= jobtime.qty %></td>
      <td><%= jobtime.user %></td>
      <td><%= jobtime.service != nil ? Item.find(jobtime.service).name : '' %></td>
      <td>
        <%#= "#{jobtime.cost} | #{jobtime.price}" %>
      </td>
    </tr>
  <% end %>
  
</table>



<script>
  function calculate_subtotal(){
    
  }
</script>



