
<%= form_for (@jobsite) do |f| %>

 <% if @jobsite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobsite.errors.count, "error") %> prohibited this jobsite from being saved:</h2>

      <ul>
        <% @jobsite.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.label :parent_billing, "Parent/Billing" %>
<%= f.select :customer_id, options_for_select(["All"]+current_login.customers.map{|customer| [customer.company_name, customer.id]}, :selected => ( params[:cust_id] ? params[:cust_id] : session[:customer_id])), {}, :onchange => "getJobsite(this);" %>

<div class ="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class ="field">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>

<div class ="field">
  <%= f.label :state %>
  <%= f.text_field :state %>
</div>

<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip %>
</div>

 <div class="actions">
 <%= f.submit "Save",:class => "btn btn-success" %>
 </div>

<% end %>