<%= form_for(@job,:class => 'signature_form' ) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= select_tag :select_action, options_for_select([['Actions', ' '], ['Convert to Invoice', 'convert_to_invoice'], ['Invoice & Pay', 'invoice_pay'], ['Email', 'email'], ['Print', 'print']], :selected => params[:select_action]) %>

  <%= f.hidden_field :customer_id, :value => @customer_id %>
  <%= f.hidden_field :jobsite_id, :value => @jobsite_id %>
  <%= f.hidden_field :company_id, :value => current_login.id %>
  <%= f.hidden_field :signature %>

  
  <div class="field">
    <%= f.label :reference_no %>
    <%= f.text_field :reference_no %>
  </div>
  <div class="field">
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date, :class => "fix" %>
  </div>
  <div class="field">
    <%= f.label :class_type %>
    <%= f.select :class_type, options_for_select([["Installation", "installation"]],:selected => @job.class_type) %>
  </div>
  <div class="field">
    <%= f.label :assigned_to %>
    <%= f.select :assigned_to, options_for_select(["NULL"]+(@tech_users ? @tech_users.map{|user| [user.name]} : [""]), :selected => @job.assigned_to) %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select([["open"]]) %>
  </div>
  <div class="field">
    <%= label_tag :job_contact %>
    <% if current_login.contacts.empty? %>
      <span style="color: red;">NO CONTACTS</span>
    <% else %>
      <%= f.select :contact_id, options_for_select(current_login.contacts.map{|contact| [contact.name, contact.id]},:selected => @job.contact_id),{},:onchange => "GetContact(this)" %>
    <% end %>
    <div id="contact34">
    </div>
  </div>
  <div class="field">
    <%= f.label :sales_person %>
    <%= f.select :sales_person, options_for_select(@sales_users ? @sales_users.map{|user| [user.name]} : [""], :selected => @job.sales_person) %>
  </div>
  <div class="field">
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>
 
  <div class ="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%=  f.label :signature %>
  <div id="canvas">
    <canvas class="roundCorners" id="newSignature" style="position: relative; margin: 0; padding: 0; border: 1px solid #c4caac;"><%= @job.signature %></canvas>
  </div>

  <div>
    <%= image_tag(@job.signature) %>
  </div>

  <script>
    $(document).ready(function(){
      signatureCapture();
    })
  </script>


  <div class="actions">
    <%= f.submit :class => "btn  btn-success",:onclick=>"signatureSave()" %>
  </div>

<% end %>