<%= render '/layouts/customer_with_action' %>
<%= render '/layouts/tab_panel_for_customer' %>

<div>
  <%= form_tag :jobs, :method => 'get', :class => "form-search" do |f|  %>

    <%= text_field_tag :search, params[:search], :placeholder => "search by reference number", :class => "input-large search-query" %> &nbsp;

    <%= button_tag :button, :style => "height:40px; width: 80px;"%>
    &nbsp;&nbsp;
    <%= select_tag :my_job, options_for_select([['My Jobs', 'my_jobs']]) %>
  <% end %>
</div>

<div id="jobs_all">
  <%= render :partial => 'all' %>
</div>
