<span style = "color:#0044cc; font-weight: bold;"> 
  Job # : <%= @job.id  %>
</span>

<div class="field">
  <%= label_tag :reference_no %><br />
  <%=  @job.reference_no %>
</div>
<br />

<div class="field">
  <%= label_tag :due_date %><br />
  <%= @job.due_date %>
</div>
<br />

<div class="field">
  <%= label_tag :class_type %><br />
  <%= @job.class_type %>
</div>
<br />

<div class="field">
  <%= label_tag :assigned_to %><br />
  <%= @job.assigned_to %>
</div>
<br />

<div class="field">
  <%= label_tag :status %><br />
  <%= @job.status %><br />
</div>
<br />

<div class="field">
  <%= label_tag :select_contact %><br />
  <div id="contact34">
    <% if !@job.contact_id.nil? %>
      <%= Contact.find_by_id(@job.contact_id).name %>
    <% else %>
      <%= "Email@gmail.com" %>
    <% end %>
  </div>
</div>
<br />

<div class="field"><br />
  <%= label_tag :sales_person %><br />
  <%= @job.sales_person %><br />
</div>
<br />

<div class="field"><br />
  <%= label_tag :summary %><br />
  <%= @job.summary %><br />
</div>
<br />

<div class="field"><br />
  <%= label_tag :sub_total %><br />
  <%= @job.sub_total %>
</div>
<br />

<div class="field">
  <%= label_tag :add_items %><br />
  <%= @job.add_items %><br />
</div>
<br />