<div>
  <span style="font-size :18px; font-weight:bold;">Customer</span><br/>
  <% @job.customer_id ? customer = Customer.find(@job.customer_id) : '' %>
  <%=  customer.company_name  %><br/>
  <%=  customer.city %>,
  <%=  customer.state  %>,
  <%=  customer.zip %>
</div><br/>

<div>
  <span style="font-size :18px; font-weight:bold;">Job details</span><br/>
  
  <table class ="table-hover">
    <tr>
      <td>Job Number</td>
      <td><%= @job.id %></td>
    </tr>
    
    <tr>
      <td>Reference Number</td>
      <td><%= @job.reference_no %></td>
    </tr>
    
    <tr>
      <td>Due_date</td>
      <td><%= @job.due_date %></td>
    </tr>
    
    <tr>
      <td>Class Type</td>
      <td><%= @job.class_type %></td>
    </tr>
    
    <tr>
      <td>Assigned_To</td>
      <td><%= @job.assigned_to %></td>
    </tr>
    
    <tr>
      <td>Status</td>
      <td><%= @job.status %></td>
    </tr>
    
    <tr>
      <td>Sales_person</td>
      <td><%= @job.sales_person %></td>
    </tr>
    
    <tr>
      <td>contact</td>
      <td><%= @job.job_contact %></td>
    </tr>
    
  </table>
</div>

<div style="float:right;">
  <table>
    <tr><%= @job.name %></tr>
    <tr>Signature</tr>
    <tr> <%= image_tag(@job.signature) %></tr>
  </table>
</div>

