<% @value = DropdownValue.find_by_custom_id_and_company_id(custom.id, current_login.id) %>

<% if custom.field == "Text Box" %>
  <%= text_field_tag "textField",{}, :value => @value ? @value.drop_value : "", :onfocus => "javascript:show_edit_form('#{custom.id}','#{@value.id}', '#{params[:type]}')" %>

<% elsif custom.field == "Dropdown List" %>
  <% dropvalue = DropdownValue.find_by_custom_id_and_company_id(custom.id, current_login.id).drop_value.split(',').each %>
  <%= select_tag "dropdownField", options_for_select(dropvalue.each do |drop|[drop] end), :style => "width: 436px" %>
  <%= link_to_function "Edit Values", "update_dropdown_values('#{custom.id}')", :class => "btn btn-mini btn-primary", :style => "color:white" %>

<% elsif custom.field == "Calendar" %>
  <%= text_field_tag "calendar", nil, :value => @value ? @value.drop_value : "",:onfocus => "javascript:show_edit_form('#{custom.id}','#{@value.id}', '#{params[:type]}')", :class => 'data' %>&nbsp;
  <%= image_tag "calendar.png", :style => "width: 32px; height: 32px; cursor:pointer;", :id => "calendar_icon", :class => "datepicker"%>

<% elsif custom.field == "Legend" %>
  <pre
    <% unless params[:controller]=="customs" && (params[:action]=="index") %>onclick="javascript:show_edit_form(<%= custom.id %>, <%= @value.id %>, <%= params[:type] %>)"<% end %> >
      <%= @value.drop_value %>
  </pre>
  <br/>

<% elsif custom.field == "Table" %>
  <div id="create_table_fields">
    <%= render :partial => 'create_table_fields', :locals => {:custom => custom} %>
  </div>
  <br/>

<% else %>
  ''
<% end %>

<% unless params[:controller]=="customs" && (params[:action]=="index" || params[:action]=="get_dropdown_values" || params[:action]=="update_dropdown_values" || params[:action]=="edit_dropdown" || params[:action]=="update_dropdown") %>
  <span>
    <%= link_to "Delete", custom, :remote => true, :confirm => "Are you sure to delete?", :method => :delete, :class => "btn btn-mini btn-primary" , :style => "color:white;"%>&nbsp;
    <%= link_to_function "Hide", "status_false('#{custom.id}');", :class => "btn btn-mini btn-primary" , :style => "color:white;"%>
  </span>
<% end %>

<script>
  $(document).ready(function() {
    /* Activating Best In Place */
    $('.datepicker').datepicker()
    .on('changeDate', function(e) {
      var y = e.date.getFullYear(),
      _m = e.date.getMonth() + 1,
      m = (_m > 9 ? _m : '0' + _m),
      _d = e.date.getDate(),
      d = (_d > 9 ? _d : '0' + _d);
      $(this).prev('input.data').val(y + '-' + m + '-' + d);
    });
  });

  function update_dropdown_values(id) {
    $.ajax({
      url: "/customs/edit_dropdown",
      data: {
        cus_id: id,
        tab:<%= params[:tab] %>
      },
      type: 'GET',
      dataType: 'script',
      success: function(data) {
      }
    });
  }

  function status_false(id) {
    $.ajax({
      url: '/customs/' + id + '/update_status/',
      type: 'PUT',
      dataType: 'script',
      success: function(data) {
      }
    });
  }

  function show_edit_form(custom_id,value_id, tb_type){
    $.ajax({
      url:'/customs/get_dropdown_values',
      data:{
        custom_id:custom_id,
        dropdown_id:value_id,
        tab:<%= params[:tab] %>,
        type:tb_type
      },
      type:'GET',
      dataType:'script',
      success:function(data){}
    });
  }
</script>
