<td><%= text_field_tag :fields_1, nil, :class => "small_row", :value => @values ? @values[0] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_2, nil, :class => "small_row", :value => @values ? @values[1] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_3, nil, :class => "mini_row", :value => @values ? @values[2] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_4, nil, :class => "mini_row", :value => @values ? @values[3] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_5, nil, :class => "mini_row", :value => @values ? @values[4] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_6, nil, :class => "mini_row", :value => @values ? @values[5] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_7, nil, :class => "mini_row", :value => @values ? @values[6] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_8, nil, :class => "mini_row", :value => @values ? @values[7] : '', :placeholder => "value", :placeholder => "value" %></td>
<td><%= text_field_tag :fields_9, nil, :class => "mini_row", :value => @values ? @values[8] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_10, nil, :class => "mini_row", :value => @values ? @values[9] : '', :placeholder => "value" %></td>
<td><%= text_field_tag :fields_11, nil, :class => "small_row", :value => @values ? @values[10] : '', :placeholder => "value" %></td>
<td colspan="2" style="width:50px">
  <% if @values %>
    <%= link_to_function "Update", "update_rows(#{@dropdown_value.id});", :class => "btn btn-mini btn-primary", :style => "color:white" %>
  <% else %>
    <%= link_to_function "Add", "display_row(#{custom.id});", :class => "btn btn-mini btn-primary", :style => "color:white" %>
  <% end %>
</td>
