<style>
  #ui-datepicker-div, .ui-helper-clearfix{
    border: none;
    overflow: hidden;
  }
</style>
<% if params[:controller]=="customs" && params[:type]=="Customer" %>
<% else %>
  <%= render '/layouts/timer' %>
<% end %>

<%= render '/layouts/customer_with_action' %>

<% if params[:type] == "Job" %>
  <%= render '/layouts/tab_panel_for_job' %>
<% else %>
  <%= render  '/layouts/tab_panel_for_customer' %>
<% end %>

<ul class="nav nav-tabs" id="custom_tab">
  <% @tabs.each do |tab| %>
    <li class=<%= (@default_tab.to_i == tab.id) ? 'active' : '' %> >
      <%= link_to tab.name, customs_path(:type => params[:type], :tab => tab.id) %>
    </li>
  <% end %>
</ul>

<%#= Just display all the custom fields matching search criteria %>

<ul id="sortable" class="droptrue">
  <h5 style="margin-top:0px; background: #666; color: #FFF; padding:5px;">
    <%= "List of custom fields for #{params[:type]}" %>
  </h5>
  <%=  @customs.count==0 ? "No custom fields are created yet. Create your custom fields now!" : '' %>
  <% @customs.each do |custom| %>
    <li class="ui-state-default" id="li<%= custom.id %>">
      <span id="label<%= custom.id %>">
        <%= label_tag custom.name, nil, :id=> "label#{custom.id}" %>
      </span>
      <div id="custom_field_updation_<%= custom.id %>">
        <% @value = DropdownValue.find_by_custom_id_and_company_id(custom.id, current_login.id) %>
        <% if custom.field == "Text Box" %>
          <%= text_field_tag "textField",{}, :value => @value ? @value.drop_value : "" %>
        <% elsif custom.field == "Dropdown List" %>
          <% dropvalue = DropdownValue.find_by_custom_id_and_company_id(custom.id, current_login.id).drop_value.split(',').each %>
          <%= select_tag "dropdownField", options_for_select(dropvalue.each do |drop|[drop] end), :style => "width: 436px" %>
        <% elsif custom.field == "Calendar" %>
          <%= text_field_tag "calendar", nil, :value => @value ? @value.drop_value : "", :class => 'data' %>&nbsp;
          <%= image_tag "calendar.png", :style => "width: 32px; height: 32px; cursor:pointer;", :id => "calendar_icon", :class => "datepicker"%>
        <% else %>
          ''
        <% end %>
      </div>
    </li>
  <% end %>
</ul>