<style>
  #ui-datepicker-div, .ui-helper-clearfix{
    border: none;
    overflow: hidden;
  }
</style>

<%= render '/layouts/timer' %>

<%= render '/layouts/customer_with_action' %>

<% if params[:type] == "Job" %>
  <%= render '/layouts/tab_panel_for_job' %>
<% else %>
  <%= render  '/layouts/tab_panel_for_customer' %>
<% end %>

<ul class="nav nav-tabs" id="custom_tab">
  <% @tabs.each do |tab| %>
    <li class=<%= (@default_tab.to_i == tab.id) ? 'active' : '' %> >
      <%= link_to tab.name, customs_path(:type => params[:type], :tab => tab.id) %>
    </li>
  <% end %>
    <li>
    <% tab = (params[:tab] ? params[:tab] : 'tab1') %>
    <%= link_to "Add Fields", new_custom_path(:tab => @default_tab, :type => params[:type]) %>
  </li>
</ul>
  
<%=  render :partial => 'customs', :locals => {:customs => @customs} %>