<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :types, "Type" %>
    <%= f.select :types, options_for_select([["Prospect"],["Customer"],["Job site"]])%>
  </div>
   

  <div class="field">
    <%= f.label :company_name,"Company" %>
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    <%= f.label :parent_billing,"parent/billing"%>
    <%= f.select :parent_billing, options_for_select(["starbucks corporate"])%>
  </div>

  <div class="field">
    <%= f.label :address1,"Address1" %>
    <%= f.text_field :address1 %>
  </div>

  <div class="field">
    <%= f.label :Address2 %>
    <%= f.text_field :address2 %>
  </div>

  <div class="field">
    <%= f.label :city,"city, st, zip"%>
    <%=f.text_field :city, :style => "width:220px" %>
    <%= f.text_field :state, :style => "width:80px" %>
    <%= f.text_field :zip, :style => "width:80px" %>
  </div>

  <div class="field">
    <%= label_tag :contact %>
    <% if current_company.contacts.empty? %>
    <span style="color: red;">NO CONTACTS</span>
    <% else %>
      <%= f.select :contact_id, options_for_select(current_company.contacts.map{|contact| [contact.name, contact.id]}),{}, :onchange => "GetContact(this)" %>
    <% end %>
    <div id="contact34">
    </div>
  </div>

  <div class="filed">
    <%= f.label :account,"Account#" %>
    <%= f.text_field :account %>
  </div>

  <div class="field">
    <%= f.label :phone%>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :website%>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :business_type, "Biz type" %>
    <%= f.select :business_type, options_for_select(["commercial"])%>
  </div>

  <div class="field">
    <%= f.label :terms_client,"Terms client"%>
    <%= f.select :parent_billing, options_for_select([["Net 10"],["Net 20"],["Net 30"],["Net 40"],["Net 50"]])%>
  </div>

  <div class="filed">
    <%= f.label :status%>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-success" %>
  </div>
<% end %>
