<%= render "search" %>


<table class="table">
  <table class="table table-striped" >
    <tr>
      <th>Name</th>
      <th>Account#</th>
      <th>Address</th>
      <th>City</th>
      <th>St</th>
      <th>Zip</th>
      <th>Phone</th>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to  customer.company_name, edit_customer_path(customer) %></td>
        <td><%= customer.account %></td>
        <td><%= customer.address1 %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>
        <td><%= customer.phone %></td>
        
      </tr>
    <% end %>
  </table>
  <tr>
    <td colspan="8">
      <%= will_paginate @customers %>
    </td>
  </tr>
</table>

