<%= render '/layouts/customer_with_action' %>

<%= render '/layouts/tab_panel_for_customer' %>


<%= form_tag :customers, :method => 'get', :id => "customers_search"  do  %>
    <%= text_field_tag :search, params[:search], :placeholder => 'search by reference number',:class => "input-large search-query" %>
    <%= submit_tag :Search, :class => "btn btn-mini btn-primary", :style => "width:60px; height:30px" %> 
    <div id="customer123">
      <%= render :partial => 'customer' %>
    </div>
<% end %>
