<%= render "search" %>
<table class="table">
  <table class="table table-striped" >
    <tr>
      <th colspan="9">
        <%= link_to "Add New", new_customer_path %>
      </th>
    </tr>
    <tr>
      <th>Customer Name</th>
      <th>Created By</th>
      <th>Created On</th>
      <th>Primary Contact</th>
      <th>Email</th>
      <th>No. of Job Sites</th>
      <th>Job Executed</th>
      <th>Options</th> 
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to  customer.company_name, edit_customer_path(customer) %></td>
        <td><%=  current_company.name %></td>
        <td><%= customer.created_at %> </td>
        <td>
          <% customer.contact_id ? contact = Contact.find(customer.contact_id) : '' %>
          <%= contact ? contact.name : '-' %>
        </td>
        <td><%= contact ? contact.email : '-' %> </td>
        <td style="text-align: center;"><%= Jobsite.where("customer_id=?", customer.id).count %> </td>
        <td><%= "Job executed" %> </td>
        <td>
          [<%= link_to "Add Contact", new_contact_path(:cust_id => customer) %>]
          [<%= link_to "Add Job Site", new_jobsite_path(:cust_id => customer) %>]
        </td>
      </tr>
    <% end %>
  </table>
  <tr>
    <td colspan="8">      
        <%= will_paginate @customers %>
    </td>
  </tr>
</table>

