
<table class ="table">
<p>
  <b>Type:</b>
  <%= @customer.types %>
</p>

<p>
  <b>Name:</b>
  <%= @customer.company_name %>
</p>

<p>
  <b>Parent/Billing:</b>
  <%= @customer.parent_billing %>
</p>

<p>
  <b>Address1:</b>
  <%= @customer.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @customer.address2 %>
</p>

<p>
  <b>city,st,zip:</b>
  <%= @customer.city %>,
  <%= @customer.state %>,
  <%= @customer.zip %>
</p>

<p>
  <b>Contact:</b>
  <%= @customer.contact %>
</p>

<p>
  <b>Account#:</b>
  <%= @customer.account %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @customer.website %>
</p>

<p>
  <b>Biz Type:</b>
  <%= @customer.business_type %>
</p>

<p>
  <b>Terms Client:</b>
  <%= @customer.terms_client %>
</p>

<p>
  <b>Status:</b>
  <%= @customer.status %>
</p>



</table>
