<%= render 'search_data' %>

<table class="table">
  <table class="table table-striped">
    <tr>
      <th colspan="9">
        <%= link_to "Add New", new_contact_path %>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Business</th>
      <th>Twitter</th>
      <th colspan="3">Actions</th>
    </tr>

    <% contacts.each do |contact| %>
      <tr id="contact_<%= contact.id %>">
        <td><%= link_to  contact.name, edit_contact_path(contact) %></td>
        <td><%= contact.role %></td>
        <td><%= contact.email %></td>
        <td><%= contact.mobile %></td>
        <td><%= contact.business %></td>
        <td><%= contact.twitter %></td>
        <td><%= link_to "Delete", contact, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, :class => "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="7">
        <%= will_paginate @contacts %>
      </td>
    </tr>
  </table>
</table>
