<%= render '/layouts/customer_with_action' %>

<ul class="nav nav-tabs" id="myTab">
  <li class = <%= params[:controller] == "customers" || params[:action] == "new" ? 'active' : ''  %> >
    <%= link_to 'Contact', new_contact_path %>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="customer"></div>
  <div class="tab-pane" id="job"></div>
</div>
<script>
  $(function () {
    $('#myTab a:last').tab('show');
  })
</script>

<%= form_for(@contact, :remote => true) do |f| %>
  <div id="error_explanation" style="display:none;">

  </div>

  <span>
     <%= f.hidden_field :customer_id, :value => session[:customer_id] %>
    <%= f.hidden_field :jobsite_id, :value => session[:jobsite_id] %>
  </span>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :phone1, :size => 3, :maxlength => 3,:value =>@phone1.blank? ? @contact.phone1 : @phone1, :style => "height: 25px;    padding: 3px 10px;width: 50px; ", :onkeyup => "mobile_validate(this,2)" %>
    <%= f.text_field :phone2, :size => 3, :maxlength => 3,:value =>@phone2.blank? ? @contact.phone2 : @phone2, :style => "height: 25px;   margin-left: 2px;  width: 50px;  margin-top: 0px; padding: 3px 10px;", :onkeyup => "mobile_validate(this,3)" %>
    <%= f.text_field :phone3, :size => 4, :maxlength => 4,:value =>@phone3.blank? ? @contact.phone3 : @phone3, :style => "height: 25px;  margin-left: 2px;   width: 50px;  margin-top: 0px;   padding: 3px 10px;", :onkeyup => "mobile_validate(this,3)" %>
    <%= f.text_field :phone4, :size => 4, :maxlength => 4,:value =>@phone4.blank? ? @contact.phone4 : @phone4, :style => "height: 25px;    padding: 3px 10px; width: 50px;  margin-left: 2px;margin-top: 0px;", :onkeyup => "mobile_validate(this,4)", :placeholder => "Ext.." %>
   
  </div>
  <div class="field">
    <%= f.label :business %>
    <%= f.text_field :business %>
  </div>
  <div class="field">
    <%= f.label :twitter %>
    <%= f.text_field :twitter %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>

<hr />
<div id="contacts">
  <%= render :partial => "contacts", :locals => {:contacts => @contacts} %>
</div>