
<table class="table table-striped" :width="100%">
    <tr>
      <th>Description</th>
      <th>FileType</th>
      <th>DateAdded</th>
      <th>Action</th>
    </tr>

<% documents.each do |document| %>
     <tr id="document_<%= document.id %>">
      <td><%= document.document_file_name %></td>
      <td><%= document.document_content_type %></td>
      <td><%= document.created_at%></td>
      <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
    </tr>
  
<% end %>

 </table>
