
<table class="table table-striped" :width="100%">
       <tr>
    <th>Description</th>
    <th>FileType</th>
    <th>DateAdded</th>
    <th>Action</th>
  </tr>

  <% documents.each do |document| %>
    <tr id="document_<%= document.id %>">
      <td>
        <%= link_to document.document_file_name, document.document.url %></td>
      <td>
        <%= link_to document.document_content_type, document.document.url %></td>
      <td><%= document.created_at%></td>

      <td><%= link_to  "Delete", document, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => "btn btn-mini btn-danger" %></td>

    </tr>

  <% end %>
    <tr>
      <td colspan="4">
        <%= will_paginate @documents %>
      </td>
    </tr>

</table>
