<%= form_for(@document, :url => documents_path(:type => params[:type]),:remote => true, :html => {:multipart => true }) do |f| %>

  <table width="100%">
    <tr>
      <td>
        <div id="error_explanation" style="display: none;">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.hidden_field :documentable_type, :value => params[:type] %>
        <%= f.hidden_field :jobsite_id, :value => session[:jobsite_id] %>
      </td>
    </tr>
    <tr>
      <td id="file_field">
        <%= f.file_field :document %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit "Add document", :class => "btn-success" %></td>
    </tr>
  </table>
<% end %>
<style>
  td, th {
    text-align: left;
  }
</style>

<hr />


