<%= render '/layouts/customer_with_action' %>
<%= render '/layouts/tab_panel_for_customer' %>
<%= render 'form' %><br/>
<%= render 'search' %>

<% form_tag documents_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<hr />

<div id="documents">
  <%= render :partial => "documents", :locals => {:documents => @documents} %>
</div>

<tr>
<div class="pagination">
  <%= will_paginate @documents %>
</div>

</tr>



