<%= form_for(@role, :remote => true) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <table style="background: #F1F1F1;">
    <tr style="border-bottom: 1px solid #CCC; text-align: left; background: #CCC;">
      <th colspan="2">
        <%= link_to "Add New Role", roles_path %>
      </th>
    </tr>
    <tr>
      <td><%=  f.label :roll,"Role" %></td>
      <td>
        <%= f.select :roll, options_for_select([["Admin", "Admin"], ["Tech", "Tech"], ["Sales", "Sales"], ["Subcontractor", "Subcontractor"], ["Office", "Office"], ["Customer", "Customer"]], :selected => @role.roll) %>
      </td>
    </tr>

    <tr style="font-weight: bold;">
      <td><%= "Module" %></td>
      <td><%= "Access"%></td>
    </tr>

    <tr>
      <td><%= f.label :customer,"Customer" %></td>
      <td><%= f.select :customer, options_for_select([["All"],["Read-Only"],["Add/Read"],["None"]],:selected => @role.customer) %></td>
    </tr>

    <tr>
      <td><%= f.label :jobs,"Jobs" %></td>
      <td><%= f.select :jobs, options_for_select([["All"],["Read-Only"],["Add/Read"],["None"]],:selected => @role.jobs) %></td>
    </tr>

    <tr>
      <td><%= f.label :jobtimes,"Jobtimes" %></td>
      <td><%= f.select :jobtimes, options_for_select([["Read-Only"],["Read-Write"],["None"]],:selected => @role.jobtimes) %></td>
    </tr>
    
    <tr>
      <td><%= f.label :contacts,"Contacts" %></td>
      <td><%= f.select :contacts, options_for_select([["All"],["Read-Only"],["Add/Read"],["None"]],:selected => @role.contacts) %></td>
    </tr>

    <tr>
      <td><%= f.label :reports,"Reports" %></td>
      <td><%= f.select :reports, options_for_select([["All"],["Read-Only"],["Add/Read"],["None"]],:selected => @role.reports) %></td>
    </tr>

    <tr>
      <td><%= f.label :settings_admin,"Settings/Admin" %></td>
      <td><%= f.select :settings_admin, options_for_select([["All"],["Read-Only"],["Add/Read"],["None"]],:selected => @role.settings_admin) %></td>
    </tr>

    <tr>
      <td colspan="2"><%= f.submit "Save", :class => "btn btn-success", :style => "padding: 5px 20px;" %></td>
    </tr>
  </table>

<% end %>

