<%= form_for(@item) do |f| %>

  <div id ="item_form">


    <div class ="field">
      <%= f.label :qty, "Qty" %>
      <%= f.text_field :qty %>
    </div>

    <div class ="field">
      <%= f.label :job_item,"Item" %>
      <%= text_field_tag :search, params[:search], :placeholder => "Search", :class => "input-small search-query" %>
    </div>

    <div class ="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class ="field">
      <%= f.label :unit_cost %>
      <%= f.text_field :unit_cost %>
    </div>

    <div class ="field">
      <%= f.label :unit_price %>
      <%= f.text_field :unit_price %>
    </div>

    <div class ="actions">
      <%= f.submit "save", :class => "btn-success" %>
    </div>

  </div>
<% end %>

