<table class ="table table-striped ">
  <tr>
    <th>Type</th>
    <th>Qty</th>
    <th>Number</th>
    <th>Name</th>
    <th>Description</th>
    <th>Subtotal</th>
    <th>Action</th>
  </tr>
  
<% @inventories.each do |inventory| %>
<tr>
  <td><%= inventory.itemtype %></td>
  <td><%= best_in_place inventory,:qty ,:type => :input, :style => "height: 25px;   margin-left: 2px;  width: 50px;  margin-top: 0px; padding: 3px 10px;"%></td>
  <td><%= inventory.number %></td>
  <td><%= inventory.name %></td>
  <td><%= inventory.description %></td>
  <td><%= inventory.subtotal %></td>
  <td><%= link_to image_tag("delete.png", :title => "Delete", :width => "24px", :height => "24px"), inventory, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
 </tr>
 <% end %>
</table>