<%= render 'items_heading' %>
<%= render '/layouts/tab_panel_for_job' %>



<div>
  <%= label_tag :Subtotal %>
</div>

<div>
  <%= label_tag :add_item,"Add Item" %>
  <%= text_field_tag :add_item %>
  <%= link_to :add_item, new_item_path %>
</div>

<table class ="table table-striped ">
  <tr>
    <th>Type</th>
    <th>Qty</th>
    <th>Number</th>
    <th>Name</th>
    <th>Description</th>
  </tr>


  <% @items.each do |item| %>
  <tr>
    <td><%= item.itemtype %></td>
    <td><%= item.qty %></td>
    <td><%= link_to item.number, edit_item_path(item) %></td>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
  </tr>

<% end %>
</table>