<%= render '/layouts/job_with_action' %>
<%= render '/layouts/tab_panel_for_job' %>

<table class ="table table-striped ">
  <tr>
    <th>Type</th>
    <th>Qty</th>
    <th>Number</th>
    <th>Name</th>
    <th>Description</th>
  </tr>


  <% @items.each do |item| %>
  <tr>
    <td><%= item.itemtype %></td>
    <td><%= item.qty %></td>
    <td><%= item.number %></td>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
  </tr>

<% end %>
</table>