<%= render '/layouts/job_with_action' %>
<%= render '/layouts/tab_panel_for_job' %>



<div>
  <%= label_tag :Subtotal %>
  <%= text_field_tag :sub_total,'' ,:readonly => true%>
</div>

<div>
  <%= label_tag :add_item,"Add Item" %>
  <%= text_field_tag :item_names,'',:size => 75, :id => 'auto_complete_text' %>
  <ul id="auto_results"></ul>
  <%= link_to_function "Add Item", "new_item_form(#{@item_id})" %>
</div>

<table class ="table table-striped ">
  <tr>
    <th>Type</th>
    <th>Qty</th>
    <th>Number</th>
    <th>Name</th>
    <th>Description</th>
    <th>Action</th>
  </tr>


  <% @items.each do |item| %>
    <tr>
      <td><%= item.itemtype %></td>
      <td><%= best_in_place item,:qty ,:type => :input,:style => "height: 25px;   margin-left: 2px;  width: 50px;  margin-top: 0px; padding: 3px 10px;"%></td>
      <td><%= item.number %></td>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= link_to_function image_tag("edit.png", :title => "Edit", :width => "24px", :height => "24px"), "item_edit_form('#{item.id}')" %>
        <%= link_to image_tag("delete.png", :title => "Delete", :width => "24px", :height => "24px"), item, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<script type="text/javascript">
  $("#auto_complete_text").keyup(function(){
    var n = $(this).val().split(',').length
    var data = $(this).val().split(',')[n-1];
    $.ajax({
      url:'/items/autocomplete_items',
      data:{
        name:data,
        not_list:$(this).val()
      },
      type:'GET',
      success:function(data){}
    });
  });
</script>
