
<%= render '/layouts/job_with_action' %>
<%= render '/layouts/tab_panel_for_job' %>



<div>
  <%= label_tag :Subtotal %>
  <%= text_field_tag :subtotal %>
</div>

<div>
  <%= label_tag :add_item,"Add Item" %>

  <%= text_field_tag :add_item %>
  <%= link_to_function "Add Item", "new_item_form(#{@item_id})" %>
</div>

<table class ="table table-striped ">
  <tr>
    <th>Type</th>
    <th>Qty</th>
    <th>Number</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>


  <% @items.each do |item| %>
    <tr id="item_<%= item.id %>">

      <td><%= item.itemtype %></td>
      <td><%= best_in_place item,:qty ,:type => :input%></td>
      <td><%= item.number %></td>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= link_to_function image_tag("edit.png", :title => "Edit", :width => "24px", :height => "24px"), "item_edit_form('#{item.id}')" %>|
        <%= link_to image_tag("delete.png", :title => "Delete", :width => "24px", :height => "24px"), item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>







