<ul class="nav nav-tabs" id="myTab">
  <li class>
    <%= link_to 'Accounting',"#" %>
  </li>

  <li class>
    <%= link_to 'Users', users_path %>
  </li>

  <li>
    <%= link_to "Roles","#" %>
  </li>

  <li>
    <%= link_to "Custom Fields","#"%>
  </li>


  <li>
    <%= link_to "Billing", "#" %>
  </li>

</ul>

