<ul class="nav nav-tabs" id="myTab">
    <li class = <%= params[:controller] == "customers" || params[:action] == "new" ? 'active' : ''  %> >
    <%= link_to 'Customer',new_customer_path %>
    </li>

     <li class = <%= params[:controller] == "jobs" && params[:action] == "index" ? 'active' : ''  %> >
    <%= link_to 'Jobs', jobs_path %>
    </li>

    <li class = <%= params[:controller]=="notes" ? 'active' : ''  %> >
      <%= link_to "Notes", notes_path(:type => "Customer") %>
    </li>

    <li class = <%= params[:controller] == "contacts" && params[:action] == "index" ? 'active' : ''  %> >
      <%= link_to "Contact", contacts_path%>
    </li>

    <li class = <%= params[:controller] == "documents" ? 'active' : ''  %>>
      <%= link_to "Documents", documents_path(:type => "Customer")%>
    </li>

    <li>
      <%= link_to_function "Custom", "alert('coming soon!'); return false;" %>
    </li>

    </ul>

    <div class="tab-content">
    <div class="tab-pane active" id="customer"></div>
    <div class="tab-pane" id="job"></div>

