<!DOCTYPE html>
<html>
  <head>
    <title>SMO</title>
    <%= stylesheet_link_tag    "application","datepicker", :media => "all" %>
    <%= stylesheet_link_tag 'gmaps4rails' %>
    <%= javascript_include_tag "application","autocomplete-rails","bootstrap-datepicker","signature" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <% if signed_in? %>
              <ul class="nav pull-left">
                <li>
                  <%= link_to "Home",  dashboards_index_path %>
                </li>
                <li>
                  <%= link_to "Customers", customers_path %>
                </li>
                <li>
                  <%= link_to "Jobs", jobs_path %>
                </li>
                <li>
                  <%= link_to "Contacts", contacts_path %>
                </li>
              </ul>
              <ul class="nav pull-right">
                <li>
                  <%= link_to "Settings", users_path %>
                </li>
                <li>
                  <%= link_to "Logout", destroy_company_session_path, :method => "DELETE" %>
                </li>
              </ul>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <br/> <br/> <br/>
      <% if notice %>
        <div class="alert alert-info" style="margin-top: 0px;">
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= notice %></strong>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= alert %></strong>
        </div>
      <% end %>
      <%= yield %>
      <%= yield :scripts %>
    </div>


    <div id='overlay1' style='filter:alpha(opacity=50);' onclick="hide_popup1();"></div>
    <div align='left' id='popup_box1'>
      <div style='float: right; margin-top: -40px;margin-right:-40px'>
      </div>
      <div id='popup_body1' style='float:left'></div>
    </div>
    <div id='ajax_loader_big_div'>
      <img alt="Ajax-loader-big" src="/assets/ajax-loader-big.gif"  />
    </div>
  </body>
</html>